.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.searchbar{
  margin-top: 20px
}
.search-result{
  margin-top: 50px;
  border-top: solid 2px blue;
}
.search-result-items{
  margin-top:10px;
  padding: 20px;
  border-bottom: dotted 1px black;
}
.count-span{
  padding-left: 5px;
}
.left-align{
  text-align: left;
}